// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

h1,h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px
}

body{
    background-color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
  }